<div class="container">
    <div class="row mt-3">
        <div class="col-2">

        </div>
        <div class="col-10">
            <h1 style="font-size:80px">Cash Flow : ${{totalPaid | currency}}</h1>
            <h3 style="font-size:45px">Pending : ${{totalPending | currency}}</h3>
        </div>
        <div class="col-2">

        </div>
    </div>
    <div class="row mt-3">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="row mt-3">
                <div class="col">
                    <h4>Recent Transactions</h4>
                    <div class="row" *ngFor="let bill of billArr.reverse()">
                        <div class="col">{{bill.client}}</div>
                        <div class="col">{{bill.amountToPay}}</div>
                    </div>
                </div>
                <div class="col">
                    <h4>Pending Payments</h4>
                    <div class="row" *ngFor="let client of clientArr">
                        <div class="col">{{client.name}}</div>
                        <div class="col">{{client.pendingAmount}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>
